@using _4_10TEST.Models;
@using Library.Data;
@model IndexVeiwModels

<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-md-3">
            <p class="lead">Shop Category</p>
            <div class="list-group">
                @foreach (Categories c in Model.AllCategories)
                {
                    <!-- <button class=" btn list-group-item  CategoryName"  data-id="@c.Id">@c.Name</button>-->
                    <a href="/home/index?id=@c.Id" class="list-group-item">@c.Name</a>
                }

            </div>
        </div>

        <div class="col-md-9">

            <div class="row carousel-holder">

                <div class="col-md-12">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="slide-image" src="http://placehold.it/800x300" alt="">
                            </div>
                            <div class="item">
                                <img class="slide-image" src="http://placehold.it/800x300" alt="">
                            </div>
                            <div class="item">
                                <img class="slide-image" src="http://placehold.it/800x300" alt="">
                            </div>
                        </div>
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>

            </div>

            <div class="row">
                @foreach (Products p in Model.Products)
                {
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="/ProductImages/@p.ImageName" style="width: 800px;" />
                            <div class="caption">
                                <h4 class="pull-right">@p.Price.ToString("C")</h4>
                                <h4>
                                    <a href="/Home/products?id=@p.ProductId">@p.Name</a>
                                </h4>
                                <p>@p.Description</p>
                            </div>

                        </div>
                    </div>
                }
            </div>
                    </div>
            </div>
    </div>
<!-- /.container -->

<div class="container">

    <hr>


</div>
<!-- /.container -->
<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>


